@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Rikki Flash Cards</h1>
        <p><a asp-controller="Subject" asp-action="Index">Subjects</a></p>
    </div>
